# Database
DB_NAME=pagos_db
DB_USER=pagos_user
DB_PASS=changeme
DB_HOST=postgres
DB_PORT=5438

# Backend
PORT=3000

# Frontend
FRONTEND_PORT=5174
VITE_API_URL=http://localhost:3000

# Auth
JWT_SECRET=change_this_super_secret_key_in_production

# Seed (usuario inicial)
SEED_EMAIL=tu@email.com
SEED_PASSWORD=changeme123
SEED_NAME=Tu nombre
